<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inicial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <title>Cadastro de Vistorias</title>
</head>
<body>
<div class="container">
    <h1 class="text-center m-5">Cadastro de Vistorias</h1>
    <form method="POST" action="/create">
        <div class="container">
            <div class="row">
                <div class="mb-3 col-12 col-md-4">
                    <label for="exampleInputEmail1" class="form-label">Data da Vistoria</label>
                    <input type="date" class="form-control" name="date">
                </div>
                <div class="mb-3 col-12 col-md-4">
                    <label for="exampleInputEmail1" class="form-label">Tipo de Vistoria</label>
                    <select class="form-select" aria-label="Default select example" name="type">
                        <option selected>Selecione uma opção</option>
                        <option value="1">Vistoria de Entrada</option>
                        <option value="2">Vistoria de Saída</option>
                    </select>
                </div>
                <div class="mb-3 col-12 col-md-4">
                    <label for="exampleInputEmail1" class="form-label">Cód. do Imóvel: </label>
                    <input type="number" class="form-control" name="propertyId">
                </div>

                    <div class="mb-3 col-md-3 col-12">
                        <input type="text" class="form-control" placeholder="CEP" name="cep">
                    </div>
                    <div class="mb-3 col-md-6 col-12">
                        <input type="text" class="form-control" placeholder="Logradouro" name="street">
                    </div>
                    <div class="mb-3 col-md-3 col-12">
                        <input type="text" class="form-control" placeholder="nº" name="number">
                    </div>
                    <div class="mb-3 col-md-4 col-12">
                        <input type="text" class="form-control" placeholder="Complemento" name="complement">
                    </div>
                    <div class="mb-3 col-md-4 col-12">
                        <input type="text" class="form-control" placeholder="Bairro"  name="neighbor">
                    </div>
                    <div class="mb-3 col-md-4 col-12">
                        <input type="text" class="form-control" placeholder="Condominio" name="condominium">
                    </div>
                    <div class="mb-3 col-md-4 col-12">
                        <input type="text" class="form-control" placeholder="Nome Locatário" name="locatorName">
                    </div>
                    <div class="mb-3 col-md-4 col-12">
                        <input type="text" class="form-control" placeholder="Nome Locador" name="renterName">
                    </div>
                    <div class="mb-3 col-12 col-md-4">
                        <label for="exampleInputEmail1" class="form-label">Data da Saída</label>
                        <input type="date" class="form-control" name="departureDate">
                    </div>
<!--                    <div class="mb-3 col-12">-->
<!--                        <textarea class="form-control" rows="3" name="finalremarks" placeholder="Observações Finais"></textarea>-->
<!--                    </div>-->
<!--                    <div class="mb-3 col-12 col-md-4">-->
<!--                        <input type="number" class="form-control" name="propertyId" placeholder="Leitura Celesc">-->
<!--                    </div>-->

                        <button type="submit" class="btn btn-primary">Cadastrar</button>

            </div>

        </div>
    </form>
</div>

</body>
</html>